@import "../../styles//variables";
@import "../../styles/mixin";

.organogram-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    text-align: center;
  }
}
.organogram {
  width: 100vw;
  overflow: hidden;
  display: flex;
  margin-top: 10vh;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
