@import "../../styles/variables";
@import "../../styles/mixin";

.mainJelajah-container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 4vh;
  h1 {
    text-align: center;
    margin-bottom: 3vh;
  }
  p {
    margin-top: 5vh;
    max-width: 700px;
    font-family: LailaMedium;
    color: white;
    margin: 0 auto;
  }
  .jelajah-container{
    margin-top: 3vh;
  }
}

@media (max-width: 1025px) {
  .mainJelajah-container {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .mainJelajah-container {
    width: 70%;
  }
}