@import "../../styles/variables";
@import "../../styles/mixin";

.mainJelajah-container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 4vh;
  h1 {
    text-align: center;
  }
  .jelajah-container{
    margin-top: 5vh;
  }
}

@media (max-width: 1025px) {
  .mainJelajah-container {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .mainJelajah-container {
    width: 90%;
  }
}