@import "../../styles/variables";
@import "../../styles/mixin";

.oc-container{
    @include setup_size(100%,100%);
    @include flex_center(column);
    min-width: 500px;
    min-height: 500px;
    padding : 5px;
    position: relative;
    .image{
        flex : 4;
        @include flex_center(row);
        .prev,.next{
            flex : 1;
            @include flex_center(row);
            font-size: 32px;
            color : $f_mainColor;
            &:hover{
                cursor: pointer;
            }
        }
        .oc-image{
            flex : 8;
        }
        & > *{
            height : 100%;
        }
    }
    .detail{
        flex : 1;
        @include flex_center(column);
        justify-content: flex-start;
        .name{
            font-size: 32px;
            color : $f_mainColor;
        }
    }
    & > *{
        width : 100%;
    }
    a{
        position: absolute;
        top : 5px;
        right : 5px;
        @include setup_size(40px,40px);
        .instagram-icon {
            fill: #ffffff;
            font-size: 37px;
            background: opacity(0);
            transition: none;
            animation: insta-fill-reverse 0.2s forwards;
            &:hover {
            animation: insta-fill 0.2s forwards;
            }
            border-radius: 10px;
        }
    }
}