@import "../../styles/variables";
@import "../../styles/mixin";

.oc-container {
  //   @include setup_size(100%, 100%);
  transition: opacity 0.25s ease-in-out;
  width: 25vw;
  @include flex_center(column);
  min-width: 250px;
  margin: 0 3vw;
  padding: 5px;
  position: relative;
  .image {
    width: 100%;
    @include flex_center(row);
    .prev-panit,
    .next-panit {
      //   flex: 1;
      //   @include flex_center(row);
      font-size: 28px;
      color: $f_mainColor;
      &:hover {
        cursor: pointer;
      }
    }
    .oc-image {
      width: 90%;
    }
    & > * {
      height: 100%;
    }
  }
  .detail {
    flex: 1;
    @include flex_center(column);
    justify-content: flex-start;
    font-family: "LailaMedium";
    text-align: center;
    .name {
      font-size: 24px;
      color: $f_mainColor;
    }
    .status {
      font-size: 20px;
      transform: translateY(-15px);
      color: $f_mainColor2;
    }
  }
  & > * {
    width: 100%;
  }
  a {
    position: absolute;
    top: 2vh;
    right: 2vw;
    @include setup_size(40px, 40px);
    .instagram-icon {
      fill: #ffffff;
      font-size: 37px;
      background: opacity(0);
      transition: none;
      animation: insta-fill-reverse 0.2s forwards;
      &:hover {
        animation: insta-fill 0.2s forwards;
      }
      border-radius: 10px;
    }
  }
}
