@import "../../styles/mixin";
@import "../../styles/variables";

.mainCompetition-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  h1 {
    text-align: center;
  }
  button{
    margin : 10vh 0 15vh 0;
  }
}

.competitions-container {
  @include flex_center(row);
  @include setup_size(100%, fit-content);
  align-items: flex-start;
  padding-top: 50px;
  & > * {
    flex: 1;
    padding: 0 15px;
    img {
      @include setup_size(100%, 100%);
    }
    p {
      text-align: center;
      @include setup_font(32px, 400, LailaMedium);
      color: $f_mainColor;
    }
  }
}

@media (max-width: 600px) {
  .competitions-container {
    @include setup_size(100%, 70vh);
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 5vw;
    & > * {
      @include setup_size(100%, 100%);
      display: grid;
      padding: 5vw 5vw;
      grid-template-rows: 3fr 2fr;
      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
      p {
        @include flex_center(row);
        font-size: 16px;
      }
    }
  }
}
