@import "../../styles/variables";
.navbar-button {
  position: relative;
  h4 {
    text-align: center;
    color: $f_mainColor2;
    transition: color 0.25s ease;
    font-size: clamp(1rem, 3vw, 1.3rem);
  }
  &:hover h4 {
    color: $f_mainColor;
  }
  span.line {
    position: absolute;
    width: 0;
    height: 2px;
    background-color: $a_lightPurple;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: width 0.25s ease;
  }
  &:hover span.line {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .navbar-button {
    h4 {
      font-size: 17px;
    }
  }
}
