@import "../../styles/variables";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 40vh;
  background-image: url("../../images/Bata.jpg");
  background-size: cover;
  border-top: 5px solid $a_lightPurple;
  padding: clamp(20px, 2.5vh, 120px);
}

.footer-icons {
  height: clamp(40px, 5vw, 48px);
  margin: 10px 0;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  .footer-icon {
    height: 90%;
    width: auto;
    max-width: 70px;
    margin: 0 10px;
    transition: transform 0.25s;
    svg {
      height: 100%;
      width: 100%;
      color: $f_mainColor;
    }
    &:hover {
      transform: translateY(-2.5px);
      svg {
        color: $f_mainColor2;
      }
    }
  }
}

@media (max-width: 600px) {
  .footer {
    height: 30vh;
  }
}
