@import "../../styles/variables";
@import "../../styles/mixin";

.Final {
  @include flex_center(column);
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  h1 {
    text-align: center;
    margin: 4vh auto;
    font-size: 70px;
  }
  p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vh 20%;
    text-align: center;
    color: $f_white;
    font-family: LailaRegular;
    font-size: 16px;
  }
  button {
    width: 150px;
    border-radius: 20px;
    font-size: 25 px;
    height: 40px;
    font-family: LailaSemiBold;
    color: #5f3e74;
    background-color: $f_mainColor2;
    border: none;
    margin: 10px auto;
    margin-bottom: 5vh;
  }
}

.form {
  width: 40%;
  height: 50%;
  position: relative;
  background-color: transparent;
  label {
    color: $f_mainColor2;
    font-family: LailaMedium;
    position: absolute;
    bottom: 23px;
    left: 0%;
    width: 82%;
    height: 54%;
    pointer-events: none;
    border-bottom: 2px solid $f_mainColor;
    margin: 0 0 0 35px;
    font-size: 14px;
  }
  input {
    width: 100%;
    height: 40px;
    padding-top: 10px;
    border: none;
    background-color: transparent;
    outline: none;
    color: $f_white;
    font-family: LailaSemiBold;
    font-size: 18px;
  }
  label::after {
    content: "";
    position: relative;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid $f_mainColor;
    left: 0px;
    bottom: 0px;
    transform: translateX(-100%);
  }
}

@media only screen and (max-width: 600px) {
  .Final {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    label {
      margin: 2vh auto;
      width: 100%;
    }
    input {
      margin: 2vh auto;
      width: 100%;
    }
  }
}
