.Modal-container {
    justify-content: unset!important;
}

#ctm {
    margin: 0 20px;
    text-align: center;
    min-height: calc(100vh - 92px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .button {
        max-width: 380px;
        border-color: #5fdcde;
    }
}
