.Homepage-wrapper {
  position: relative;
  .Homepage-awan {
    position: absolute;
    right: 0;
    top: 0;
  }
}
@media (max-width: 480px) {
  .Homepage-wrapper {
    .Homepage-awan {
      display: none;
    }
  }
}
