@import "../../styles/variables";
@import "../../styles/mixin";

.AboutUsSection-wrapper {
  padding-top: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  position: relative;
  .AboutUsSection-awan {
    position: absolute;
    opacity: 0.1;
    left: 0;
    bottom: 0;
    width: 26%;
  }

  .AboutUsSection-container {
    transform: translateY(-100px);
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    align-items: center;
    .AboutUsSection-layangan {
      @include set_glow(0.2);
      width: 90%;
    }
    .AboutUsSection-text {
      display: flex;
      flex-direction: column;

      h1 {
        font-weight: normal;
        line-height: 1.5;
        position: relative;
        margin-bottom: 20px;
        font-size: clamp(30px, 5.8vw, 60px);
      }
      h1::after {
        content: "";
        position: absolute;
        width: 600%;
        height: 2px;
        background-color: $a_lightPurple;
        bottom: 0;
        left: -2%;
      }
      p {
        font-family: LailaMedium;
        color: $f_mainColor;
      }
    }
  }
}
@media (max-width: 480px) {
  .AboutUsSection-wrapper {
    overflow-y: visible !important;
    padding: 0;
    .AboutUsSection-awan {
      width: 40%;
    }

    .AboutUsSection-container {
      margin-top: 5vh;
      display: flex;
      align-items: center;
      flex-direction: column;
      grid-template-columns: none;
      .AboutUsSection-layangan {
        transform: translateY(5vh);
      }

      .AboutUsSection-text {
        padding: 0px 30px;
        h1 {
          text-align: center;
          position: relative;
          font-size: 2.25em;
        }
        h1::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: $a_lightPurple;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
        p {
          padding: 0px 10px;
        }
      }
    }
  }
}
